h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.loader {
  position: relative;
  width: 10.5em;
  height: 10.5em;
  transform: rotate(165deg);
}
.loader:before, .loader:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 1.5em;
  height: 1.5em;
  border-radius: 0.75em;
  transform: translate(-50%, -50%);
}
.loader:before {
  animation: before 2s infinite;
}
.loader:after {
  animation: after 2s infinite;
}

@keyframes before {
  0% {
    width: 1.5em;
    box-shadow: 4.5em -3em rgba(225, 20, 98, 0.75), -4.5em 3em rgba(111, 202, 220, 0.75);
  }
  35% {
    width: 10.5em;
    box-shadow: 0 -3em rgba(225, 20, 98, 0.75), 0 3em rgba(111, 202, 220, 0.75);
  }
  70% {
    width: 1.5em;
    box-shadow: -4.5em -3em rgba(225, 20, 98, 0.75), 4.5em 3em rgba(111, 202, 220, 0.75);
  }
  100% {
    box-shadow: 4.5em -3em rgba(225, 20, 98, 0.75), -4.5em 3em rgba(111, 202, 220, 0.75);
  }
}
@keyframes after {
  0% {
    height: 1.5em;
    box-shadow: 3em 4.5em rgba(61, 184, 143, 0.75), -3em -4.5em rgba(233, 169, 32, 0.75);
  }
  35% {
    height: 10.5em;
    box-shadow: 3em 0 rgba(61, 184, 143, 0.75), -3em 0 rgba(233, 169, 32, 0.75);
  }
  70% {
    height: 1.5em;
    box-shadow: 3em -4.5em rgba(61, 184, 143, 0.75), -3em 4.5em rgba(233, 169, 32, 0.75);
  }
  100% {
    box-shadow: 3em 4.5em rgba(61, 184, 143, 0.75), -3em -4.5em rgba(233, 169, 32, 0.75);
  }
}
/**
 * Attempt to center the whole thing!
 */
html,
body {
  height: 100%;
}

.loader {
  position: absolute;
  top: calc(50% - 5.25em);
  left: calc(50% - 5.25em);
}


/**
*QA loader styles
*/
#latter_q{
  animation: DrwaQ 2s ease-in ;
  animation-delay: 0s;
  stroke-dasharray: 3435;
}

#e4_circle,#e5_polygon{
  opacity: 0;
  animation: DrwaDot,Show;
  animation-duration : 2s, 0s;
  animation-delay: 2s, 2s;
  stroke-dasharray: 241;

  animation-fill-mode: forwards;
      
}

.Q{
      width: 100px;
    height: 100px;
    position: absolute;
    top: 45%;
    left: 45%;
}

@keyframes DrwaQ {
      to {
      stroke-dashoffset: 6904;
      }
      from {

      stroke-dashoffset: 3447;
      }
    }


    @keyframes Show {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      
      }
      
    }
    @keyframes DrwaDot {
      to {
      fill-opacity: 1;
      stroke-dashoffset: 0;
      }
      from{
      fill-opacity: 0;
      stroke-dashoffset: 241;
      }
    }
